# Third-Party Model URL [MUST*] (eg: https://api.openai.com/v1)
THIRD_API_URL=

# Third-Party Model API-Key [MUST*] (eg:sk-xxxx)
THIRD_API_KEY= 

# Third-Party Model URL [MUST*] (eg: https://api.openai.com/v1)
THIRD_API_URL="https://generativelanguage.googleapis.com/v1beta"

# Third-Party Model API-Key [MUST*] (eg:sk-xxxx)
THIRD_API_KEY= "XXXXXXXXXXXXXXXXXXX"


IDEM_FRONTEND_URL="https://idem.africa"

NETLIFY_TOKEN="XXXXXXXXXX"
NETLIFY_DEPLOY_URL="XXXXXXXXXX"